{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  </head>
  <body>
    <div class="site-container">
      <nav>
        <a href="{% url 'views.home_page' %}">Home</a>
        <!-- note use of namespaces in link below; {% url 'courses:list' %} to link to a named and namespaced URL -->
        <a href="{%url 'courses:list'%}">Courses</a>
      </nav>
      {% block content %} {% endblock %}
    </div>

  </body>
</html>
